<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
<difficulty>
		<interval>
			<easy>
				<m2>0</m2>
				<M2>1</M2>
				<m3>0</m3>
				<M3>0</M3>
				<p4>1</p4>
				<dim5>0</dim5>
				<p5>1</p5>
				<m6>0</m6>
				<M6>0</M6>
				<m7>0</m7>
				<M7>0</M7>
				<oct>1</oct>
				<m9>0</m9>
				<M9>0</M9>
				<aug9>0</aug9>
				<M10>0</M10>
				<p11>0</p11>
				<M13>0</M13>
			</easy>
			<medium>
				<m2>0</m2>
				<M2>1</M2>
				<m3>0</m3>
				<M3>1</M3>
				<p4>1</p4>
				<dim5>0</dim5>
				<p5>1</p5>
				<m6>0</m6>
				<M6>1</M6>
				<m7>0</m7>
				<M7>1</M7>
				<oct>1</oct>
				<m9>0</m9>
				<M9>0</M9>
				<aug9>0</aug9>
				<M10>0</M10>
				<p11>0</p11>
				<M13>0</M13>
			</medium>
			<hard>
				<m2>1</m2>
				<M2>1</M2>
				<m3>1</m3>
				<M3>1</M3>
				<p4>1</p4>
				<dim5>1</dim5>
				<p5>1</p5>
				<m6>1</m6>
				<M6>1</M6>
				<m7>1</m7>
				<M7>1</M7>
				<oct>1</oct>
				<m9>0</m9>
				<M9>0</M9>
				<aug9>0</aug9>
				<M10>0</M10>
				<p11>0</p11>
				<M13>0</M13>	
			</hard>
			<custom>
				<m2>1</m2>
				<M2>1</M2>
				<m3>1</m3>
				<M3>1</M3>
				<p4>1</p4>
				<dim5>1</dim5>
				<p5>1</p5>
				<m6>1</m6>
				<M6>1</M6>
				<m7>1</m7>
				<M7>1</M7>
				<oct>1</oct>
				<m9>1</m9>
				<M9>1</M9>
				<aug9>1</aug9>
				<M10>1</M10>
				<p11>1</p11>
				<M13>1</M13>		
			</custom>
		</interval>
		<chord>
			<easy>
				<major>1</major>
				<minor>1</minor>
				<suspended4>0</suspended4>
				<augmented5>0</augmented5>
				<minor6>0</minor6>
				<major6>0</major6>
				<minor7>1</minor7>
				<minor7b5>0</minor7b5>
				<minor7sharp5>0</minor7sharp5>
				<dominant7>1</dominant7>
				<dominant7b5>0</dominant7b5>
				<dominant7sharp5>0</dominant7sharp5>
				<major7>1</major7>
				<diminished7>0</diminished7>
				<minor9>0</minor9>
				<minor7b9>0</minor7b9>
				<minor7b5b9>0</minor7b5b9>
				<minor7sharp5b9>0</minor7sharp5b9>
				<minor9b5>0</minor9b5>
				<minor9sharp5>0</minor9sharp5>
				<dominant9>0</dominant9>
				<dominant7b9>0</dominant7b9>
				<dominant7sharp9>0</dominant7sharp9>
				<dominant7b5sharp9>0</dominant7b5sharp9>
				<dominant7sharp5b9>0</dominant7sharp5b9>
				<dominant7sharp5sharp9>0</dominant7sharp5sharp9>
				<dominant7b5b9>0</dominant7b5b9>
				<dominant9b5>0</dominant9b5>
				<dominant9sharp5>0</dominant9sharp5>
				<major9>0</major9>
				<dominant11>0</dominant11>
				<dominant13>0</dominant13>
			</easy>
			<medium>
				<major>1</major>
				<minor>1</minor>
				<suspended4>1</suspended4>
				<augmented5>1</augmented5>
				<minor6>1</minor6>
				<major6>1</major6>
				<minor7>1</minor7>
				<minor7b5>0</minor7b5>
				<minor7sharp5>0</minor7sharp5>
				<dominant7>1</dominant7>
				<dominant7b5>0</dominant7b5>
				<dominant7sharp5>0</dominant7sharp5>
				<major7>1</major7>
				<diminished7>1</diminished7>
				<minor9>1</minor9>
				<minor7b9>0</minor7b9>
				<minor7b5b9>0</minor7b5b9>
				<minor7sharp5b9>0</minor7sharp5b9>
				<minor9b5>0</minor9b5>
				<minor9sharp5>0</minor9sharp5>
				<dominant9>1</dominant9>
				<dominant7b9>0</dominant7b9>
				<dominant7sharp9>0</dominant7sharp9>
				<dominant7b5sharp9>0</dominant7b5sharp9>
				<dominant7sharp5b9>0</dominant7sharp5b9>
				<dominant7sharp5sharp9>0</dominant7sharp5sharp9>
				<dominant7b5b9>0</dominant7b5b9>
				<dominant9b5>0</dominant9b5>
				<dominant9sharp5>0</dominant9sharp5>
				<major9>1</major9>
				<dominant11>0</dominant11>
				<dominant13>0</dominant13>
			</medium>
			<hard>
				<major>1</major>
				<minor>1</minor>
				<suspended4>1</suspended4>
				<augmented5>1</augmented5>
				<minor6>1</minor6>
				<major6>1</major6>
				<minor7>1</minor7>
				<minor7b5>1</minor7b5>
				<minor7sharp5>0</minor7sharp5>
				<dominant7>1</dominant7>
				<dominant7b5>1</dominant7b5>
				<dominant7sharp5>1</dominant7sharp5>
				<major7>1</major7>
				<diminished7>1</diminished7>
				<minor9>1</minor9>
				<minor7b9>0</minor7b9>
				<minor7b5b9>0</minor7b5b9>
				<minor7sharp5b9>0</minor7sharp5b9>
				<minor9b5>0</minor9b5>
				<minor9sharp5>0</minor9sharp5>
				<dominant9>1</dominant9>
				<dominant7b9>1</dominant7b9>
				<dominant7sharp9>1</dominant7sharp9>
				<dominant7b5sharp9>0</dominant7b5sharp9>
				<dominant7sharp5b9>0</dominant7sharp5b9>
				<dominant7sharp5sharp9>0</dominant7sharp5sharp9>
				<dominant7b5b9>0</dominant7b5b9>
				<dominant9b5>1</dominant9b5>
				<dominant9sharp5>1</dominant9sharp5>
				<major9>1</major9>
				<dominant11>1</dominant11>
				<dominant13>1</dominant13>
			</hard>
			<custom>
				<major>1</major>
				<minor>1</minor>
				<suspended4>1</suspended4>
				<augmented5>1</augmented5>
				<minor6>1</minor6>
				<major6>1</major6>
				<minor7>1</minor7>
				<minor7b5>1</minor7b5>
				<minor7sharp5>1</minor7sharp5>
				<dominant7>1</dominant7>
				<dominant7b5>1</dominant7b5>
				<dominant7sharp5>1</dominant7sharp5>
				<major7>1</major7>
				<diminished7>1</diminished7>
				<minor9>1</minor9>
				<minor7b9>1</minor7b9>
				<minor7b5b9>1</minor7b5b9>
				<minor7sharp5b9>1</minor7sharp5b9>
				<minor9b5>1</minor9b5>
				<minor9sharp5>1</minor9sharp5>
				<dominant9>1</dominant9>
				<dominant7b9>1</dominant7b9>
				<dominant7sharp9>1</dominant7sharp9>
				<dominant7b5sharp9>1</dominant7b5sharp9>
				<dominant7sharp5b9>1</dominant7sharp5b9>
				<dominant7sharp5sharp9>1</dominant7sharp5sharp9>
				<dominant7b5b9>1</dominant7b5b9>
				<dominant9b5>1</dominant9b5>
				<dominant9sharp5>1</dominant9sharp5>
				<major9>1</major9>
				<dominant11>1</dominant11>
				<dominant13>1</dominant13>
			</custom>
		</chord>
	</difficulty>
<sound>
		<general>
			<instrument>25</instrument>
			<channel>5</channel>
			<lowest_note>39</lowest_note>
			<highest_note>87</highest_note>
		</general>
		<interval>
			<duration>600</duration>
			<pause>250</pause>
		</interval>
		<chord>
			<duration>600</duration>
			<note_pause>25</note_pause>
		</chord>
		<cadence>
			<duration>600</duration>
			<pause>500</pause>
		</cadence>
	</sound>
</settings>
